<% include header %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= title %>
      </h1>
    </div>
  </div>
</section>
<div class="container" style="margin-top: 30px;">
  <form class="" action="" method="post" enctype="multipart/form-data">
    <div class="field">
      <label class="label">title</label>
      <div class="control">
        <input class="input" type="text" name="title" placeholder="title">
      </div>
    </div>

    <div id="file-name" class="field">

    </div>

    <div class="field">
      <div class="file is-boxed is-primary">
        <label class="file-label">
          <input class="file-input" type="file" name="attachment" multiple>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-image"></i>
            </span>
            <span class="file-label">
              Choose a image…
            </span>
          </span>
        </label>
      </div>
    </div>

    <div class="field is-grouped" style="margin-top:30px;">
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
      <div class="control">
        <a href="/" class="button is-primary is-outlined">Cancel</a>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  $(function() {
     $('.file-input').change(function (e) {
       $('#file-name label, #file-name div').remove();
       $('#file-name').append('<label class="label">파일명</label>');
        var $input = document.getElementsByClassName('file-input')[0];
        for (var i = 0; i < $input.files.length; ++i) {
          if ($input.files[i].type.match('image/*')) {
            var fileName = $input.files.item(i).name;
            $('#file-name').append('<div class="control ">'+fileName+'</div>');
          } else {
            alert('이미지 파일만 업로드 가능합니다');
            break;
          }
        }

     });
  });
</script>
<% include footer %>
