<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>nodejs-paging-example</title>
  <link href='https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Press+Start+2P|Vampiro+One'
    rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <div class="container">
    <div class="divider"></div>
    <div class="section">
      <h2><%=article.title%></h2>
      <h3><%=article.text%></h3>
    </div>
    <div class="divider"></div>
    <div>
      <a href="/" class="waves-effect waves-light btn">list</a>
    </div>
  </div>
</body>

</html>